html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color: @color-main;
	font:0.9em/1.4em  Arial, serif;
	color:@color-sec ;
}
ol, ul {
	margin: 0 0 0.5em;
}
p {
	margin: 0 0 0.5em;
	max-width: 634px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 1.2em;
	padding: 0.5em 0 0.25em;
}

h1 {
	font-size: 3em;
	font-family: 'Lobster', Georgia, Times, serif;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

h5, h6 {
	font-size: 1em;
}

a, a:link, a:visited {
	text-decoration: none;
	color:@color-sec;
}

a:hover, a:active {
}

img {
	max-width: 100%;
}

hr {
	border: none;
	background: url(../images/bg_hr.png) center center no-repeat;
	height: 10px;
}

/* main variables and elements defined with less variables*/
@color-main: #fff4de;
@color-main-darker:#dfd4be;
@color-divider:#d8cea3;
@color-sec: #5c5850;
@color-sec-lighter:#a59e8c;
@color-sec-darker: #565149;
@color-logo:#49b6bb;
	
.text-shadow (@x: 0, @y: 0, @blur: 1px, @color: #000) {
  text-shadow: @arguments;
  -text-box-shadow: @arguments;
  -text-box-shadow: @arguments;
}
.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}
.shadow-inner  {
   -moz-box-shadow:     0 2px 4px @color-sec-lighter inset;
   -webkit-box-shadow:  0 2px 4px @color-sec-lighter inset;
   box-shadow:          0 2px 4px @color-sec-lighter inset;
}
.title {
	font:2.3em/1em 'Yanone Kaffeesatz' , Impact , arial, sans-serif;
	letter-spacing:0.05em;
	color:#fff;
	text-transform:uppercase;
	.text-shadow(2px, 1px, 1px, #4c4c4c);
}
.title-sec {
	font:lighter  1.9em/1em 'Yanone Kaffeesatz', Impact , arial, sans-serif;
	letter-spacing:0.05em;
	color:@color-sec;
	text-transform:uppercase;
	border-bottom:2px dotted @color-sec;
	margin-bottom:1em;
}
/* =header */
header {
	text-align: center;
	border-bottom: 1px solid @color-divider;
	padding: 2em 10px 1em;
	margin-bottom: 4em;
}
#logo-holder {
	position:absolute;
	top:0;
	width:100%;
	text-align:center;
}
#logo-wrp {
	display:inline-block;
	background:@color-sec-darker;
	padding:2.1em 0 1em;
}
#logo {
	padding-bottom: 0;
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 3.5em;
	color:@color-logo;
	.text-shadow(2px, 1px);
	padding:0.2em 0.8em;
}
.logo-border {
	margin-bottom:-20px;
	display:table;
	width:100%;
}
.border-left,
.border-right {
	display:table-cell;
	background:@color-main;
	height:10px;
	width:10px;
}
.border-left {
	border-radius:0 10px 0 0;
}
.border-right {
	border-radius:10px 0 0 0;
}
.border-center {
	display:table-cell;
	height:15px;
}
.social-icons {
	float:left;
}
.contact-icons {
	float:right;
}
nav {
	ul {
		margin-bottom:0;
	}
	li {
		display:inline-block;
		list-style:none;
		a {
			display:inline-block;
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden; 
			background:url(../images/sprite.png) no-repeat 0 0;
			width:35px;
			height:35px;
		}
	}
} 

#facebook a {
	background-position:0 0;
}
#twitter a {
	background-position:0 -35px;
}
#google a {
	background-position:0 -70px;
}
#linkedin a {
	background-position:0 -105px;
}
#skype a {
	background-position:0 -140px;
}
#mail a {
	background-position:0 -175px;
}

/*=main content */
.grid-wrp {
	width:100%;
}
.grid {
	 margin: 0 auto;
	 overflow:auto;
	padding: 0 20px;
}
.row {
	margin-bottom: 1em;
}
.main-area {
	background:@color-sec-darker;
	margin-top: -3em;
    padding: 6em 0 2em;
}
.tweets-wrp {
	position:relative;
	.birdie {
		position:absolute;
		top:15px;
		left:0;
		background:url(../images/sprite.png) no-repeat 0 -223px;
		width:53px;
		height:50px;
		z-index:2;
		display:block;
	}
	h2 {
		padding-left:55px;
	}
	.tweets {
		background:@color-sec-lighter;
		border-radius:0 0 5px 5px;
		padding:.5em;
	}
}


.features {
	color:#fff;
	.text-shadow(2px, 1px, #4c4c4c);
	p {
		opacity:0.8;
	}
	ul {
		padding-left:15px;
		list-style:none;
		text-indent: -1em;
		opacity:0.8;
	}
	li {
		margin-bottom:1em;
	}
	li:before {
		 content:  "\2713 \0020";
		 color:@color-divider;
		 margin-left:4px;
		 font-size:1.5em;
	}
}
.subscribe {
	form {
		background:@color-main;
		padding:1.5em 1em;
		border:1px solid @color-main-darker;
		.rounded-corners;
	}
	fieldset {
		text-align:center;
	}
	input {
		padding:1em;
		border:1px solid @color-main-darker;
		width:90%;
		margin-bottom:0.3em;
		font-size:0.9em;
		.rounded-corners;
	}
	input[type='checkbox'] {
		display:inline-block;
		width:auto;
		margin-top:6px;
	}
	label {
		display:inline-block;
		font-size:0.8em;
	}
	input[type='submit'] {
		background:@color-sec;
		color:#fff;
		margin-top:1em;
		border-color:@color-sec-darker;
		.shadow-inner;
	}
}
.sec-area {
	padding-top:1em;
} 
.gmaps div {
	border:1px solid @color-sec;
	padding:0.8em;
}
.adr {
	padding:1em 0;
}
.tel {
	padding-top:1em;
}
.donation {
	padding-top:3.3em;
	display:table;
	p, img {
		display:table-cell;
		vertical-align:text-top;
	}
}
footer {
	border-top: 1px solid @color-divider;
	padding: 2em 10px 1em;
	margin-top: 1em;
	font-size:0.9em;
	background-image: -webkit-gradient(linear, 0 0,100% 0, color-stop(.2, @color-main-darker), color-stop(.5, transparent), to(transparent));
	background-image: -moz-linear-gradient(0deg, @color-main-darker 50%, transparent 50%, transparent);
	background-image: linear-gradient(0deg, @color-main-darker 50%, transparent 50%, transparent);
	-webkit-background-size: 2px 8px;
	-moz-background-size: 2px 8px;
	background-size: 2px 8px;
	background:opacity:0.4;
	ul {
		float:left;
	}
	li {
		display:inline-block;
		list-style:none;
		a {
			display:block;
			padding-right:0.7em;
			margin-right:0.7em;
			border-right:1px solid @color-sec;
		}
	}
	li:last-child a {
			border:0;
		}
	
	p {
		float:right;
	}
	
}
